<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Kernel">
            <directory>packages/kernel/tests</directory>
        </testsuite>
        <testsuite name="Modbus">
            <directory>packages/modbus/tests</directory>
        </testsuite>
        <testsuite name="BACnet">
            <directory>packages/bacnet/tests</directory>
        </testsuite>
        <testsuite name="EtherNetIP">
            <directory>packages/ethernetip/tests</directory>
        </testsuite>
        <testsuite name="OPCUA">
            <directory>packages/opcua/tests</directory>
        </testsuite>
        <testsuite name="Profinet">
            <directory>packages/profinet/tests</directory>
        </testsuite>
        <testsuite name="EtherCAT">
            <directory>packages/ethercat/tests</directory>
        </testsuite>
        <testsuite name="POWERLINK">
            <directory>packages/powerlink/tests</directory>
        </testsuite>
        <testsuite name="SERCOS">
            <directory>packages/sercos/tests</directory>
        </testsuite>
        <testsuite name="HART">
            <directory>packages/hart/tests</directory>
        </testsuite>
        <testsuite name="CC-Link">
            <directory>packages/cclink/tests</directory>
        </testsuite>
        <testsuite name="PROFIBUS">
            <directory>packages/profibus/tests</directory>
        </testsuite>
        <testsuite name="CANopen">
            <directory>packages/canopen/tests</directory>
        </testsuite>
        <testsuite name="DeviceNet">
            <directory>packages/devicenet/tests</directory>
        </testsuite>
        <testsuite name="FoundationFieldbus">
            <directory>packages/foundationfieldbus/tests</directory>
        </testsuite>
        <testsuite name="AS-Interface">
            <directory>packages/asinterface/tests</directory>
        </testsuite>
        <testsuite name="IO-Link">
            <directory>packages/iolink/tests</directory>
        </testsuite>
        <testsuite name="CC-LinkIE">
            <directory>packages/cclinkie/tests</directory>
        </testsuite>
        <testsuite name="ControlNet">
            <directory>packages/controlnet/tests</directory>
        </testsuite>
        <testsuite name="INTERBUS">
            <directory>packages/interbus/tests</directory>
        </testsuite>
        <testsuite name="LonWorks">
            <directory>packages/lonworks/tests</directory>
        </testsuite>
        <testsuite name="WorldFIP">
            <directory>packages/worldfip/tests</directory>
        </testsuite>
        <testsuite name="Lightbus">
            <directory>packages/lightbus/tests</directory>
        </testsuite>
        <testsuite name="ModbusPlus">
            <directory>packages/modbusplus/tests</directory>
        </testsuite>
        <testsuite name="MQTT">
            <directory>packages/mqtt/tests</directory>
        </testsuite>
        <testsuite name="DNP3">
            <directory>packages/dnp3/tests</directory>
        </testsuite>
        <testsuite name="IEC61850">
            <directory>packages/iec61850/tests</directory>
        </testsuite>
        <testsuite name="ISA100">
            <directory>packages/isa100/tests</directory>
        </testsuite>
        <testsuite name="WirelessHART">
            <directory>packages/wirelesshart/tests</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
</phpunit>
